
<h1> Login </h1>

<%= form_for(@user) do |f| %>
	<%= form_tag("/sessions", method: "post") do %>
	    <div class='field'>
	    	<%= f.label :username %><br>
	      <%= f.text_field(:username, placeholder: '...Email') %>
	    </div>
	    <div class='field'>
	    	<%= f.label :password %><br>
	     	<%= f.text_field(:password, placeholder: 'password?') %>
	      <%= f.submit("Login") %>
	    </div>
	<% end %>
<% end %>