
<div id="slideshow">

  <%= image_tag "paris.jpg", class: "bgM" %>
  <%= image_tag "japan.jpg", class: "bgM" %>
  <%= image_tag "beach.jpg", class: "bgM" %>
  <%= image_tag "road.jpg", class: "bgM" %>
  <%= image_tag "island.jpg", class: "bgM" %>
  <%= image_tag "nyc.jpg", class: "bgM" %>
  <%= image_tag "rockies.jpg", class: "bgM" %>
  
</div>

<div class="top_right">
  <div class='field'>
    <%= form_for @user, url: {controller: 'sessions', action: 'create'} do |f| %>
      <%= f.email_field(:username, placeholder: 'email...') %>
      <%= f.password_field(:password, placeholder: 'password...') %>
      <%= f.submit("Log In", id: 'expanded_login') %>
    <% end %>
  </div>
  <button class="login_button" id="top_button">Log In</button>
</div>


<div class="searchbox ui-widget">
  
  <%= form_tag("/result", method: "get") do %>
    <div class='ui-menu'>
      <p class='form_error' id="destination_error">Please enter a valid destination...</p>
      <%= text_field_tag(:destination, nil, placeholder: 'Where To?') %>
    </div>
    <p class='form_error' id='origin_error'>Please enter a valid origin</p>
    <%= text_field_tag(:origin, nil, placeholder: 'Where From?') %>
          
    <h4 id="month_label">Tell me when to go...</h2>
    <%= select_tag :month, options_for_select(Date::MONTHNAMES[1..-1], "July") %>
    <%= submit_tag("GO", class: 'go') %>
  <% end %> 
  </div>

<%= form_tag '/users', method: 'post', id: 'signup_form' do %>
  <%= label_tag 'signup[username]', 'Email' %>
  <%= text_field_tag 'signup[username]', nil, placeholder: 'travler@example.com...' %>
  <%= label_tag 'signup[password]', 'Password' %>
  <%= password_field_tag 'signup[password]' %>
  <%= label_tag 'confirm[password]', 'Confirm Password' %>
  <%= password_field_tag 'confirm[password]' %>
  <%= submit_tag('Sign Up', id: 'signup_submit') %>
  <%= button_tag 'Cancel', id: 'signup_cancel' %>
<% end %>

<script>
  $(function(){
    loadSearchPage();
  });
</script>