
<div id="slideshow">

  <%= image_tag "paris.jpg", class: "bgM" %>
  <%= image_tag "japan.jpg", class: "bgM" %>
  <%= image_tag "beach.jpg", class: "bgM" %>
  <%= image_tag "road.jpg", class: "bgM" %>
  <%= image_tag "island.jpg", class: "bgM" %>
  <%= image_tag "nyc.jpg", class: "bgM" %>
  <%= image_tag "rockies.jpg", class: "bgM" %>
  
</div>

<button id="login">Log In</button>
<%= form_for @user, url: {controller: 'sessions', action: 'create'} do |f| %>
  <div class='field'>
    <%= f.email_field(:username, placeholder: 'email...') %>
    <%= f.password_field(:password, placeholder: 'password...') %>
    <%= f.submit("Log In") %>
  </div>
<% end %>

<div class="searchbox ui-widget">
  
  <%= form_tag("/result", method: "get") do %>
    <div class='ui-menu'>
      <p class='form_error' id="destination_error">Please enter a valid destination...</p>
      <%= text_field_tag(:destination, nil, placeholder: 'Where To?') %>
    </div>
    <p class='form_error' id='origin_error'>Please enter a valid origin</p>
    <%= text_field_tag(:origin, nil, placeholder: 'Where From?') %>
          
    <h4 id="month_label">Tell me when to go...</h2>
    <%= select_tag :month, options_for_select(Date::MONTHNAMES[1..-1], "July") %>
    <%= submit_tag("GO", class: 'go') %>
  <% end %> 
  </div>

<script>
  $(function(){
    loadSearchPage();
  });
</script>