<div class="users">


	<header>
		<%= @user.username %>		
		
		<%= form_tag sessions_path, method: 'delete' do %>
		  <%= submit_tag 'Logout' %>
		<% end %>
	</header>

	<p id="notice"><%= notice %></p>

	<div class="links">
	  <strong>Your saved Favorites:</strong>
	  <% @user.favorites.map do |favorite| %>		
			<% destination = /(?<=destination=)[\w\+]+(?=&)/.match(favorite[:link]).to_s %> 
			<% origin = /(?<=origin=)[\w\+]+(?=&)/.match(favorite[:link]).to_s %>
			<% month = /(?<=month=)[\w\+]+(?=&)/.match(favorite[:link]).to_s %>
			
		<ul>
			<li><button class="user"><a class="favorites" href=<%=favorite[:link]%>>
				<%= origin.gsub("+", " ") %> to <%= destination.gsub("+", " ") %> during <%= month %>
			</a></button></li>
		</ul>
		<% end %>
	</div>


</div>