<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>


<p>
  <strong>Favorites:</strong>
  <% @user.favorites.map do |favorite| %>
		<div class="favorites">
			<% destination = /(?<=destination=)[\w\+]+(?=&)/.match(favorite[:link]).to_s %> 
			<% origin = /(?<=origin=)[\w\+]+(?=&)/.match(favorite[:link]).to_s %>
			<% month = /(?<=month=)[\w\+]+(?=&)/.match(favorite[:link]).to_s %>
			<%= origin.gsub("+", " ") %> to <%= destination.gsub("+", " ") %> during <%= month %>

		</div>
	<% end %>
 
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
