<%= stylesheet_link_tag '/results/results' %>

<header>
	
<!-- LOGIN CODE HERE -->

<div class="top_right">
  <div class='field'>
    <%= form_for @user, url: {controller: 'sessions', action: 'create'} do |f| %>
      <%= f.email_field(:username, placeholder: 'email...') %>
      <%= f.password_field(:password, placeholder: 'password...') %>
      <%= f.submit("Log In", id: 'expanded_login') %>
    <% end %>
  </div>
  <button class="login_button" id="top_button">Log In</button>
</div>

<%= form_tag '/users', method: 'post', id: 'signup_form' do %>
  <%= label_tag 'signup[username]', 'Email' %>
  <%= text_field_tag 'signup[username]', nil, placeholder: 'travler@example.com...' %>
  <%= label_tag 'signup[password]', 'Password' %>
  <%= password_field_tag 'signup[password]' %>
  <%= label_tag 'confirm[password]', 'Confirm Password' %>
  <%= password_field_tag 'confirm[password]' %>
  <%= submit_tag('Sign Up', id: 'signup_submit') %>
  <%= button_tag 'Cancel', id: 'signup_cancel' %>
<% end %>

<!-- LOGIN CODE HERE -->

	<div class="favorites">
		<button id="add-button">&#9733 Add to favorite searches?</button>
		<button id="delete-button">[ X ] Remove from favorite searches?</button>
	</div>

</header>

<div class="city">
	<h1><%= @destination %></h1>
	<br>
</div>

<div class="clearfix photo-wrapper">
	<!-- photo code -->
	<div class="left-photo">
		<div id="photo">
			<ul>
				<li><%= image_tag "icons/photos.png", :class => "icon" %><li>
				<li><h2>MOST POPULAR FLICKR PHOTOS TAKEN IN <%=@destination.upcase%></h2></li>
			</ul>
		</div>

		<div id="tiled-photo">
			<% @photos.each do |photo| %>
			<img src=<%= photo %> width="90px">
			<% end %>
		</div>
	</div>

	<div class="right-photo">
		<div id="cycle-photos">
			<% @photos.each do |photo| %>
			<img src=<%= photo %>>
			<% end %>
		</div>
	</div>
</div>

<div class="clearfix bottom-wrapper">

	<!-- flight code-->
	<div class="flight hover">
		<ul>
				<li><%= image_tag "icons/flights.png", :class => "icon" %></li>
				<li><h2>FLIGHT INFO</h2></li>
		</ul>
			<%= @destination.upcase %> IS <%= @distance %> MILES FROM <%= @origin.upcase %>
			AVERAGE FLIGHT PRICE: $<%= @avg_price%> 
			LOCAL TIME IS: <%= @time %>
	</div>

	<!-- weather code -->
	<div class="weather hover">
		<ul>
				<li><%= image_tag "icons/weather.png", :class => "icon" %></li>
				<li><h2>HISTORICAL WEATHER</h2></li>
		</ul>
				<%= image_tag "icons/hightemp-white.png", :class => "sub-icon" %>High of <%= @max_temp %>
				<%= image_tag "icons/lowtemp-white.png", :class => "sub-icon" %>Low of <%= @min_temp %>
				<%= image_tag "icons/precipitation-white.png", :class => "sub-icon" %>Average Rainfall <%= @avg_precipitation %>

			
			
			

	</div>

	<!-- big mac code -->	
	<div class="big-mac hover">
		<ul>
			<li><%= image_tag "icons/burger.png", :class => "icon" %></li>
			<li><h2>A BIG MAC IN <%=@destination.upcase %> WILL COST YOU:</h2></li>
		</ul>
		<p>$ <%= @bm_index %></p>
	</div>
	<!-- hotel code -->
	<div class="hotels hover">
		<ul>
			<li><%= image_tag "icons/hotel.png", :class => "icon" %></li>
			<li><h2>AVERAGE HOTEL RATES IN <%=@destination.upcase%></h2></li>
		</ul>

		<figure class="hotel_rates">	
			<span>$<%= @low_hotel_price %></span>
			<span id='average_rate'>$<%= @avg_hotel_price %></span>
			<span>$<%= @high_hotel_price %></span>
		</figure>
	</div>
</div>
<!-- </div> -->

<script>
$( document ).ready(function() {
	console.log(':)');
	cycleImages();
	checkFavorites();
	addtoFavorites();
	deletefromFavorites();
	loadLogin();
});



</script>