
<body>

	<div class="favorites">
		<button id="add-button">&#9733 Add to favorite searches?</button>
		<button id="delete-button">[ X ] Remove from favorite searches?</button>
	</div>

	<div class="clearfix top-wrapper">
		<!-- photo code -->
		<div class="city">
			<h1><%= @destination %></h1>
			<br>
			<div id="cycle-photos">
				<% @photos.each do |photo| %>
				  <img src=<%= photo %>>
				<% end %>
			</div>
		</div>

		<div class="clearfix photo">
			<%= image_tag "icons/photos.png", :class => "icon" %>
			<h2>MOST POPULAR FLICKR PHOTOS TAKEN IN <%=@destination.upcase%></h2>
			
			<div id="photo">
				<% @photos.each do |photo| %>
				  <img src=<%= photo %> width="90px">
				<% end %>
			</div>
<!--  -->

		</div>
	</div>



	<div class="clearfix bottom-wrapper">

		<!-- flight code-->
		<div class="flight">
			<%= image_tag "icons/flights.png", :class => "icon" %>
			<h2>AVERAGE FLIGHT PRICE: $<%= @avg_price%> </h2>
			<p>
				<%= @destination.upcase %> IS <%= @distance %> MILES FROM <%= @origin.upcase %>
			</p>
		</div>

		<!-- weather code -->
		<div class="weather">
			<%= image_tag "icons/weather.png", :class => "icon" %>
			<h2>HISTORICAL WEATHER</h2>
				<table>
					<tr>
						<td><%= image_tag "icons/hightemp-white.png", :class => "sub-icon" %></td>
						<td><%= image_tag "icons/lowtemp-white.png", :class => "sub-icon" %></td>
						<td><%= image_tag "icons/precipitation-white.png", :class => "sub-icon" %></td>
					</tr>
					<tr>
						<td>High of <%= @max_temp %></td>
						<td>Low of <%= @min_temp %></td>
						<td>Average Rainfall <%= @avg_precipitation %></td>
					</tr>
				</table>
		</div>

		<!-- big mac code -->
		
		<div class="big-mac">
			<%= image_tag "icons/burger.png", :class => "icon" %>
			<h2>A BIG MAC IN <%=@destination.upcase %> WILL COST YOU:</h2>
			<p>$ <%= @bm_index %></p>
		</div>
		
		<div class="hotels">
			<%= image_tag "icons/hotel.png", :class => "icon" %>
			<h2>HOTEL RATES IN <%=@destination.upcase%></h2>
			<h3>AVERAGE PRICE</h3>
			<p>$<%= @avg_hotel_price %></p>
			<h3>LOW PRICE</h3>
			<p>$<%= @low_hotel_price %></p>
			<h3>HIGH PRICE</h3>
			<p>$<%= @high_hotel_price %></p>
		</div>

	</div>

</body>

<script>
$( document ).ready(function() {
   	console.log(':)');
    cycleImages();
    checkFavorites();
    addtoFavorites();

	function addtoFavorites() {
	    console.log('add to favorites');
	    $("#add-button").on('click', function(e) {
	        e.preventDefault();
	        $.ajax({
	            method: 'patch',
	            url: '/add_favorites',
	            dataType: 'json',
	            data: { favorite: document.URL },
	            success: function() {
	            	console.log('yay');
	            	checkFavorites();
	            }
	        });
	    });
	}


});

</script>

