<div class="results">	

	<!-- NAV BAR -->
	<header>

		<%= form_tag("/result", method: "get", id: 'reroute_form') do %>
		<%= label_tag :origin, 'FROM:', :class => "search-form" %>
		<%= select_tag(:origin, options_for_select(@origins, @origin), :class => "search-form") %>      
		<%= label_tag :destination, 'TO:', :class => "search-form" %>
		<%= select_tag(:destination, options_for_select(@destinations, @destination), :class => "search-form") %>
		<%= label_tag :month, 'IN:', :class => "search-form" %>
		<%= select_tag :month, options_for_select(Date::MONTHNAMES[1..-1], @month), :class => "search-form" %>
		<%= submit_tag("GO") %>
		<% end %>  

		<div class="clearfix top_right">

			<%= render 'login_form' %>

			<button class="login_button" id="top_button">Log In</button>

			<div class="favorites">
				<button id="add-button">&#9733 Add to favorites?</button>
				<button id="delete-button"><span style='color: gold;'>&#9733</span> Remove favorite?</button>
			</div>
		</div>

		<%= render 'signup_form' %>

		<div class="clearfix">
			<div class="jcarousel-wrapper">
				<div class="jcarousel">
					<ul>
						<% @photos.each do |photo| %>
						<li><img src=<%= photo %>></li>
						<% end %>
					</ul>
				</div>
				<a href="#" class="jcarousel-control-prev">&lsaquo;</a>
				<a href="#" class="jcarousel-control-next">&rsaquo;</a>
			</div>
		</div>

	</header>

	<!-- CITY -->

	<div class="clearfix city">
		<div class="city-name">
			<h1><%= @destination %> in <%= @month %></h1>
			<h3>LOCAL TIME IS <%= @time %></h3>
		</div>

	</div>

	<!-- FLIGHT -->
	<div class="content">
		<div class="flight">
			<%= image_tag "icons/flights.png", :class => "icon" %>
			<table>
				<tr>
					<h1>FLIGHT INFO</h1>
				</tr>
				<tr>
					<td><span class="flight-span"><%= @distance %></span></td>
					<td><span class="flight-span">$<%= @avg_price%></span></td>
				</tr>
				<tr>
					<td>MILES FROM <%= @origin.upcase %></td>
					<td>AVERAGE PRICE</td>
				</tr>
			</table>
		</div>


		<!-- WEATHER -->

		<div class="weather">
			<%= image_tag "icons/weather.png", :class => "icon" %>
			<table>
				<tr>
					<h1>HISTORICAL WEATHER</h1>
				</tr>
				<tr>
					<td><%= image_tag "icons/hightemp-white.png", :class => "sub-icon" %></td>
					<td><%= image_tag "icons/lowtemp-white.png", :class => "sub-icon" %></td>
					<td><%= image_tag "icons/precipitation-white.png", :class => "sub-icon"%></td>
				</tr>
				<tr>
					<td><%= @max_temp %>&deg;</td>
					<td><%= @min_temp %>&deg;</td>
					<td><%= @avg_precipitation %> in</td>
				</tr>
			</table>
		</div>

		<!-- BIG MAC -->

		<div class="big-mac">
			<%= image_tag "icons/burger.png", :class => "icon" %>
			<table>
				<tr align="center">
					<h1>A BIG MAC IN <%=@destination.upcase %></h1>
				</tr>
				<tr>
					<td><span class="big-mac-span">$<%= @bm_index %></span></td>
				</tr>
				<tr>
					<td>VS $4.80 in the US</td>
				</tr>
			</table>
		</div>

		<!-- HOTEL -->

		<div class="hotels ">
			<%= image_tag "icons/hotel.png", :class => "icon" %>
			<table>
				<tr align="center">
					<h1>BUDGET HOTEL RATES</h1>
				</tr>	
				<tr>
					<td><span class='hotel-span'>$<%= @low_hotel_price %></span></td>
					<td><span class='hotel-span' id='average_rate'>$<%= @avg_hotel_price %></span></td>
					<td><span class='hotel-span'>$<%= @high_hotel_price %></span></td>
				</tr>

				<tr>
					<td>LOW</td>
					<td>AVG</td>
					<td>HIGH</td>
				</tr>
			</table>
		</div>
	</div>

</div>

<script>
$( document ).ready(function() {
	$("#add-button").hide();
	$("#delete-button").hide();
	console.log(':)');
	cycleImages();
	loadLogin();
	addtoFavorites();
	deletefromFavorites();
	jCarousel();
});

</script>


