<div class="results">	

	<!-- NAV BAR -->
<header>

	<div class="clearfix top_right">
		<div class="field">
			<%= form_for @user, url: {controller: 'sessions', action: 'create'} do |f| %>
			<%= f.email_field(:username, placeholder: 'email...') %>
			<%= f.password_field(:password, placeholder: 'password...') %>
			<%= f.submit("Log In", id: 'expanded_login') %>
			<% end %>
		</div>
		<button class="login_button" id="top_button">Log In</button>

		<div class="favorites">
			<button id="add-button">&#9733 Add to favorites?</button>
			<button id="delete-button"><span style='color: gold;'>&#9733</span> Remove favorite?</button>
		</div>
	</div>

  <%= render 'signup_form' %>

	<div class="clearfix">
		<div class="jcarousel-wrapper">
			<div class="jcarousel">
				<ul>
					<% @photos.each do |photo| %>
  					<li><img src=<%= photo %>></li>
					<% end %>
				</ul>
			</div>
			<a href="#" class="jcarousel-control-prev">&lsaquo;</a>
			<a href="#" class="jcarousel-control-next">&rsaquo;</a>
		</div>
	</div>

</header>

	<!-- CITY -->

	<div class="clearfix city">
		<div class="city-name">
			<h1><%= @destination %></h1>
			<h3>LOCAL TIME IS <%= @time %></h3>
		</div>

	</div>

	<!-- FLIGHT -->
	<div class="content">
		<div class="flight">
			<%= image_tag "icons/flights.png", :class => "icon" %>
			<h1>FLIGHT INFO</h1>
			<%= @destination.upcase %> IS <%= @distance %> MILES FROM <%= @origin.upcase %>
			<h1>AVERAGE FLIGHT PRICE</h1> $<%= @avg_price%> 
		</div>


		<!-- WEATHER -->

		<div class="weather">
			<%= image_tag "icons/weather.png", :class => "icon" %>
			<h1>HISTORICAL WEATHER</h1>
			<div><%= image_tag "icons/hightemp-white.png", :class => "sub-icon" %>High of <%= @max_temp %></div>
			<div><%= image_tag "icons/lowtemp-white.png", :class => "sub-icon" %>Low of <%= @min_temp %></div>
			<div><%= image_tag "icons/precipitation-white.png", :class => "sub-icon" %>Average Rainfall <%= @avg_precipitation %> Inches per Month</div>
		</div>

		<!-- BIG MAC -->

		<div class="big-mac">
			<%= image_tag "icons/burger.png", :class => "icon" %>
			<h1>A BIG MAC IN <%=@destination.upcase %></h1> 
			<figure><span><%= @bm_index %></span></figure>
		</div>

		<!-- HOTEL -->

		<div class="hotels ">
			<%= image_tag "icons/hotel.png", :class => "icon" %>
			<h1>AVERAGE HOTEL RATES</h1>

			<figure class="hotel_rates">	
				<span>$<%= @low_hotel_price %></span>
				<span id='average_rate'>$<%= @avg_hotel_price %></span>
				<span>$<%= @high_hotel_price %></span>
			</figure>
		</div>
	</div>

</div>

<script>
$( document ).ready(function() {
	$("#add-button").hide();
  $("#delete-button").hide();
	console.log(':)');
	cycleImages();
	loadLogin();
	addtoFavorites();
	deletefromFavorites();
	

	var jcarousel = $('.jcarousel');

	jcarousel
	.on('jcarousel:reload jcarousel:create', function () {
		var width = jcarousel.innerWidth();

		if (width >= 800) {
			width = width / 3;
		} else if (width >= 350) {
			width = width / 2;
		}

		jcarousel.jcarousel('items').css('width', width + 'px');
	})
	.jcarousel({
		wrap: 'circular'
	});

	$('.jcarousel-control-prev')
	.jcarouselControl({
		target: '-=1'
	});

	$('.jcarousel-control-next')
	.jcarouselControl({
		target: '+=1'
	});

	$('.jcarousel-pagination')
	.on('jcarouselpagination:active', 'a', function() {
		$(this).addClass('active');
	})
	.on('jcarouselpagination:inactive', 'a', function() {
		$(this).removeClass('active');
	})
	.on('click', function(e) {
		e.preventDefault();
	})
	.jcarouselPagination({
		perPage: 1,
		item: function(page) {
			return '<a href="#' + page + '">' + page + '</a>';
		}
	});
});

</script>


