<div class="results">	

	<!-- NAV BAR -->
<header>

	<div class="clearfix top_right">
		<div class="field">
			<%= form_for @user, url: {controller: 'sessions', action: 'create'} do |f| %>
			<%= f.email_field(:username, placeholder: 'email...') %>
			<%= f.password_field(:password, placeholder: 'password...') %>
			<%= f.submit("Log In", id: 'expanded_login') %>
			<% end %>
		</div>
		<button class="login_button" id="top_button">Log In</button>

		<div class="favorites">
			<button id="add-button">&#9733 Add to favorite searches?</button>
			<button id="delete-button">[ X ] Remove from favorite searches?</button>
		</div>
	</div>


		
		<!-- LOGIN CODE HERE -->


		<%= form_tag '/users', method: 'post', id: 'signup_form' do %>
		<%= label_tag 'signup[username]', 'Email' %>
		<%= text_field_tag 'signup[username]', nil, placeholder: 'travler@example.com...' %>
		<%= label_tag 'signup[password]', 'Password' %>
		<%= password_field_tag 'signup[password]' %>
		<%= label_tag 'confirm[password]', 'Confirm Password' %>
		<%= password_field_tag 'confirm[password]' %>
		<%= submit_tag('Sign Up', id: 'signup_submit') %>
		<%= button_tag 'Cancel', id: 'signup_cancel' %>
		<% end %>


		<!-- LOGIN CODE HERE -->

		<div class="clearfix">
			<!-- photo code -->

			<div class="jcarousel-wrapper">
				<div class="jcarousel">
					<ul>
						<% @photos.each do |photo| %>
						<li><img src=<%= photo %>></li>
						<% end %>
					</ul>
				</div>

				<a href="#" class="jcarousel-control-prev">&lsaquo;</a>
				<a href="#" class="jcarousel-control-next">&rsaquo;</a>


			</div>
		</div>

	</header>

	<!-- CITY -->

	<div class="clearfix city">
		<div class="city-name">
			<h1><%= @destination %></h1>
			<h3>LOCAL TIME IS <%= @time %></h3>
		</div>

	</div>

	<!-- FLIGHT -->
	<div class="content">
		<div class="flight">
			<%= image_tag "icons/flights.png", :class => "icon" %>
			<h1>FLIGHT INFO</h1>
			<%= @destination.upcase %> IS <%= @distance %> MILES FROM <%= @origin.upcase %>
			<h1>AVERAGE FLIGHT PRICE</h1> $<%= @avg_price%> 
			<h1>LOCAL TIME IS</h1> <%= @time %>
		</div>


		<!-- WEATHER -->

		<div class="weather">
			<%= image_tag "icons/weather.png", :class => "icon" %>
			<h1>HISTORICAL WEATHER</h1>
			<%= image_tag "icons/hightemp-white.png", :class => "sub-icon" %>High of <%= @max_temp %>
			<%= image_tag "icons/lowtemp-white.png", :class => "sub-icon" %>Low of <%= @min_temp %>
			<%= image_tag "icons/precipitation-white.png", :class => "sub-icon" %>Average Rainfall <%= @avg_precipitation %>
		</div>

		<!-- BIG MAC -->

		<div class="big-mac">
			<%= image_tag "icons/burger.png", :class => "icon" %>
			<h1>A BIG MAC IN</h1> <%=@destination.upcase %>> <%= @bm_index %>
		</div>

		<!-- HOTEL -->

		<div class="hotels ">
			<%= image_tag "icons/hotel.png", :class => "icon" %>
			<h1>AVERAGE HOTEL RATES IN <%=@destination.upcase%></h1>

			<figure class="hotel_rates">	
				<span>$<%= @low_hotel_price %></span>
				<span id='average_rate'>$<%= @avg_hotel_price %></span>
				<span>$<%= @high_hotel_price %></span>
			</figure>
		</div>
	</div>

</div>

<script>
$( document ).ready(function() {
	$("#add-button").hide();
  $("#delete-button").hide();
	console.log(':)');
	cycleImages();
	loadLogin();
	

	var jcarousel = $('.jcarousel');

	jcarousel
	.on('jcarousel:reload jcarousel:create', function () {
		var width = jcarousel.innerWidth();

		if (width >= 600) {
			width = width / 3;
		} else if (width >= 350) {
			width = width / 2;
		}

		jcarousel.jcarousel('items').css('width', width + 'px');
	})
	.jcarousel({
		wrap: 'circular'
	});

	$('.jcarousel-control-prev')
	.jcarouselControl({
		target: '-=1'
	});

	$('.jcarousel-control-next')
	.jcarouselControl({
		target: '+=1'
	});

	$('.jcarousel-pagination')
	.on('jcarouselpagination:active', 'a', function() {
		$(this).addClass('active');
	})
	.on('jcarouselpagination:inactive', 'a', function() {
		$(this).removeClass('active');
	})
	.on('click', function(e) {
		e.preventDefault();
	})
	.jcarouselPagination({
		perPage: 1,
		item: function(page) {
			return '<a href="#' + page + '">' + page + '</a>';
		}
	});
});

</script>


