<div class="results">	

	<!-- NAV BAR -->

	<header>
		
	<!-- LOGIN CODE HERE -->




	<!-- LOGIN CODE HERE -->

		<div class="photos">
		</div>

		<div class="favorites">
			<button id="add-button">&#9733 Add to favorite searches?</button>
			<button id="delete-button">[ X ] Remove from favorite searches?</button>
		</div>

	</header>

	<!-- CITY -->

	<div class="city">
		<h1 class="city-name"><%= @destination %></h1>
		<h1>LOCAL TIME IS</h1> <%= @time %>
	</div>

		<!-- FLIGHT -->
	<div class="content">
		<div class="flight">
			<%= image_tag "icons/flights.png", :class => "icon" %>
			<h1>FLIGHT INFO</h1>
				<%= @destination.upcase %> IS <%= @distance %> MILES FROM <%= @origin.upcase %>
			<h1>AVERAGE FLIGHT PRICE</h1> $<%= @avg_price%> 
			<h1>LOCAL TIME IS</h1> <%= @time %>
		</div>

		<!-- WEATHER -->

		<div class="weather">
			<%= image_tag "icons/weather.png", :class => "icon" %>
			<h1>HISTORICAL WEATHER</h1>
					<%= image_tag "icons/hightemp-white.png", :class => "sub-icon" %>High of <%= @max_temp %>
					<%= image_tag "icons/lowtemp-white.png", :class => "sub-icon" %>Low of <%= @min_temp %>
					<%= image_tag "icons/precipitation-white.png", :class => "sub-icon" %>Average Rainfall <%= @avg_precipitation %>
		</div>

		<!-- BIG MAC -->

		<div class="big-mac">
			<%= image_tag "icons/burger.png", :class => "icon" %>
			<h1>A BIG MAC IN</h1> <%=@destination.upcase %>> <%= @bm_index %>
		</div>

		<!-- HOTEL -->

		<div class="hotels ">
			<%= image_tag "icons/hotel.png", :class => "icon" %>
			<h1>AVERAGE HOTEL RATES IN <%=@destination.upcase%></h1>

				<figure class="hotel_rates">	
					<span>$<%= @low_hotel_price %></span>
					<span id='average_rate'>$<%= @avg_hotel_price %></span>
					<span>$<%= @high_hotel_price %></span>
				</figure>
		</div>
	</div>

	<footer>
		<p>SEEK</p>
	</footer>
</div>

	<!-- SCRIPTS -->

	<script>
	$( document ).ready(function() {
		console.log(':)');
		cycleImages();
		checkFavorites();
		addtoFavorites();
		deletefromFavorites();

	});
	</script>



