<div class="searchbox">
  <h2>Where to?</h2>
  <%= form_tag("/search", method: "get") do %>
    <%= text_field_tag(:destination, nil, placeholder: '...Paris, France') %>
    <%= label_tag(:origin, 'Where are you coming from?') %>
    <%= text_field_tag(:search, nil, placeholder: '...New York') %>
    <%= label_tag(:month, 'When will you go?') %>
    <%= select_tag :month, options_for_select(Date::MONTHNAMES[1..-1], "July") %>
    <%= submit_tag("GO") %>
  <% end %>
</div>