<div class="searchbox ui-widget">
  
  <%= form_tag("/result", method: "get") do %>
    <h2 id="destination_label">Where to?</h2>
    <div class='ui-menu'>
      <%= text_field_tag(:destination, nil, placeholder: '...Paris, France') %>
          <%= if false then label_tag(:origin, 'Where from?') end %>
    </div>
    <h3 id="origin_label">Where from?</h2>
    <%= text_field_tag(:origin, nil, placeholder: '...New York') %>
          <%= if false then label_tag(:month, 'When will you go?') end %>
    <h4 id="month_label">Tell me when to go...</h2>
    <%= select_tag :month, options_for_select(Date::MONTHNAMES[1..-1], "July") %>
    <%= submit_tag("GO", class: 'go') %>
  <% end %>
</div>

<script>

// $(function(){
//   fetchData();
//   validateDestination();
//   changeBackground();  
// });

</script>