<h1>CITY<%= @destination %></h1>


<body>
	<!-- photo code -->
	<div class="photo">
		<%= image_tag "camera.png", :class => "icon" %>
		<h2>RECENT INSTAGRAM PHOTOS</h2>
	</div>

	<div class="clearfix bottom-wrapper">

		<!-- flight code-->
		<div class="flight">
			<%= image_tag "flights.png", :class => "icon" %>
			<h2>AVERAGE FLIGHT PRICE: $<%= @avg_price%> </h2>
		</div>

		<!-- weather code -->
		<div class="weather">
			<%= image_tag "weather.png", :class => "icon" %>
			<h2>HISTORICAL WEATHER: 
				<p>High of <%= @max_temp %></p>
				<p>Low of <%= @min_temp %></p>
				<p>Average Rainfall <%= @avg_precipitation %></p>
			</h2>
		</div>

		<!-- big mac code -->
		
		<div class="big-mac">
			<%= image_tag "food.png", :class => "icon" %>
			<h2>A BIG MAC WILL COST YOU</h2>
		</div>
		
	</div>
</body>
