
<link rel="stylesheet" href="assets/stylesheets/styles.css.scss">

<h1><%= @destination %></h1>

<header>
	<ul>
		<li>Home</li>
		<li>Profile</li>
		<li>Log Out</li>
	</ul>


</header>

<!-- weather code -->
<div class="weather">
	<h1>Historical weather for <%= @destination %></h1>
	<p>
		High Temperature of <%= @max_temp %>
	</p>
	<p>
		Low Temperature of
		<%= @min_temp %>
	</p>
	<p>
		Average rainfall of<%= @avg_precipitation %>
	</p>	
</div>


	<h1><%= @destination %></h1>


	<!-- photo code -->
	<div class="photo">
		<h1>Recent photos taken in <%= @destination %></h1>
	</div>

	<div class="bottom-wrapper">

		<!-- weather code -->
		<div class="weather">
			<h1>Historical weather for <%= @destination %></h1>
		</div>

		<!-- flight code-->
		<div class="flight">
			<h1>Average flight price to <%= @destination %> </h1>
		</div>

		<!-- photo code -->
		<div class="photo">
			<h1>Recent photos taken in <%= @destination %> </h1>
			
		</div>
